{% extends "basePage.html" %}
{% load static %}

{% block title %}Desarrolladores{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/page/desarrolladores.css' %}">
{% endblock %}

{% block content %}
    <div class="developers-section">
        <div class="slider-thumb"></div>
        <div class="content-wrapper">
            <div class="titlepage">
                <h1 id="tituloDesarrolladores">Desarrolladores</h1>
                <p id="p1">Los desarrolladores de este proyecto son los estudiantes de segundo ciclo de la carrera de computación de la Universidad Nacional de Loja-Ecuador.</p>
            </div>

            <div class="card-container">
                <a href="https://www.instagram.com/daniiel.yf?igsh=ZWMxYWhnY2NibnNu" target="_blank" class="card">
                    <img src="https://i.ibb.co/7SD8pm9/danielS.jpg" alt="Holguer Daniel Sánchez Valle"/>
                    <div class="card-text">
                        <h3>Holguer Daniel Sánchez Valle</h3>
                        <p>Estudiante Universidad Nacional de Loja</p>
                    </div>
                </a>
            
                <a href="https://www.instagram.com/alexis_romaan/" target="_blank" class="card">
                    <img src="https://i.ibb.co/XSmdmxs/tuy.jpg" alt="Alexis Vinicio Román Avila"/>
                    <div class="card-text">
                        <h3>Alexis Vinicio Román Avila</h3>
                        <p>Estudiante Universidad Nacional de Loja</p>
                    </div>
                </a>
            
                <a href="https://www.instagram.com/mbenito_chalan/" target="_blank" class="card">
                    <img src="https://i.ibb.co/L01JwBx/IMG-20240221-070614-508.jpg" alt="Manuel Benito Minga Chalán"/>
                    <div class="card-text">
                        <h3>Manuel Benito Minga Chalán</h3>
                        <p>Estudiante Universidad Nacional de Loja</p>
                    </div>
                </a>
            
                <a href="https://www.instagram.com/emilio.j.4/" target="_blank" class="card">
                    <img src="https://i.ibb.co/zH36vNW/Imagen-de-Whats-App-2024-07-11-a-las-10-40-17-0b327c08.jpg" alt="Emilio Ramiro Jaramillo Chamba"/>
                    <div class="card-text">
                        <h3>Emilio Ramiro Jaramillo Chamba</h3>
                        <p>Estudiante Universidad Nacional de Loja</p>
                    </div>
                </a>
            
                <a href="https://www.instagram.com/josue__.t/" target="_blank" class="card">
                    <img src="https://i.ibb.co/88TrgQh/iourt.jpg" alt="Josue Rodolfo Torres Guiracocha"/>
                    <div class="card-text">
                        <h3>Josue Rodolfo Torres Guiracocha</h3>
                        <p>Estudiante Universidad Nacional de Loja</p>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
{% endblock %}