{% extends "basePage.html" %}
{% load static %}

{% block title %} Documentación {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/page/documentacion.css' %}">
{% endblock %}

{% block content %}
<div class="developers-section">
    <div class="content-wrapper">
        <div class="w-full bg-gradient-to-r from-[#b3e5fc] to-[#1e88e5] py-12 md:py-16 lg:py-20">
            <div class="container">
                <div class="titlepage">
                    <h1 id="tituloDocumentacion">Documentación</h1>
                    <p id="p1">
                        El proyecto JABED Robotics es un proyecto de la Universidad Nacional de Loja, que tiene como objetivo principal la recolección de basuras en un espacio físico.
                    </p>
                </div>
                <!-- Cards Horizontales -->
                <div class="horizontal-cards-container">
                    <div class="horizontal-card">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Componentes.JPG/800px-Componentes.JPG" alt="Card Image 1">
                        <div class="expandable-card">
                            <h3>Objetivos</h3>
                            <p>Objetivo general:
Desarrollar tecnología que contribuya a la sostenibilidad del medio ambiente con la implementación de un brazo robótico recolector de basura, controlado por un software web.
Objetivos específicos:
Diseñar un algoritmo aplicando los conceptos de programación que nos permita el desarrollo de la aplicación web, que abarcara la documentación y el correcto funcionamiento del brazo robótico.
Ensamblar el brazo robótico con el circuito electrónico adecuado, asegurando su fácil manipulación y comunicación efectiva con la aplicación.
Crear una interfaz intuitiva y accesible para la aplicación, facilitando la navegación y comprensión del proyecto por parte del usuario.</p>
                        </div>
                    </div>
                    <div class="horizontal-card">
                        <img src="https://i.ibb.co/QF5cLxM/Imagen-de-Whats-App-2024-02-26-a-las-02-20-27-d4ad993d.jpg" alt="Card Image 2">
                        <div class="expandable-card">
                            <h3>Título 2</h3>
                            <p>Texto descriptivo 2</p>
                        </div>
                    </div>
                    <div class="horizontal-card">
                        <img src="https://www.galileo.edu/fisicc/files/2020/06/preview_video_fisicc-compressor.jpg" alt="Card Image 3">
                        <div class="expandable-card">
                            <h3>Título 3</h3>
                            <p>Texto descriptivo 3</p>
                        </div>
                    </div>
                    <div class="horizontal-card">
                        <img src="https://cdn-icons-png.flaticon.com/128/863/863823.png" alt="Card Image 4">
                        <div class="expandable-card">
                            <h3>Título 4</h3>
                            <p>Texto descriptivo 4</p>
                        </div>
                    </div>
                </div>
                <!-- Cards Grid -->
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                    <!-- Cards existentes aquí -->
                    <div class="documentation-card">
                        <div class="card-image">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Componentes.JPG/800px-Componentes.JPG" alt="Componentes" />
                        </div>
                        <div class="card-content">
                            <div class="card-text-box">
                                <h3 class="card-title">Materiales</h3>
                                <p class="card-text">Materiales que se utilizarán en el proyecto.</p>
                            </div>
                            <a class="card-button" href="{% url 'materiales' %}">Ver más</a>
                        </div>
                    </div>
                    <div class="documentation-card">
                        <div class="card-image">
                            <img src="https://i.ibb.co/QF5cLxM/Imagen-de-Whats-App-2024-02-26-a-las-02-20-27-d4ad993d.jpg" alt="Funcionamiento" />
                        </div>
                        <div class="card-content">
                            <div class="card-text-box">
                                <h3 class="card-title">Funcionamiento</h3>
                                <p class="card-text">Funcionamiento del Proyecto de Brazo Robótico.</p>
                            </div>
                            <a class="card-button" href="{% url 'funcionamiento' %}">Ver más</a>
                        </div>
                    </div>
                    <div class="documentation-card">
                        <div class="card-image">
                            <img src="https://www.galileo.edu/fisicc/files/2020/06/preview_video_fisicc-compressor.jpg" alt="Integración de Materias" />
                        </div>
                        <div class="card-content">
                            <div class="card-text-box">
                                <h3 class="card-title">Integración de Materias</h3>
                                <p class="card-text">Conjunto de conocimientos que se aplicarán segmentados por materias.</p>
                            </div>
                            <a class="card-button" href="{% url 'materias' %}">Ver más</a>
                        </div>
                    </div>
                    <div class="documentation-card">
                        <div class="card-image">
                            <img src="https://cdn-icons-png.flaticon.com/128/863/863823.png" alt="Historias de Usuario" />
                        </div>
                        <div class="card-content">
                            <div class="card-text-box">
                                <h3 class="card-title">Historias de Usuario</h3>
                                <p class="card-text">Historias de usuarios y requerimientos que debe tener el brazo robótico.</p>
                            </div>
                            <a class="card-button" href="{% url 'historiaUsuario' %}">Ver más</a>
                        </div>
                    </div>
                    <div class="documentation-card">
                        <div class="card-image">
                            <img src="https://th.bing.com/th/id/R.2a4f292c24f5639a888d26773915401e?rik=P043tCflC8A5Kw&pid=ImgRaw&r=0" alt="Diagrama de Clases" />
                        </div>
                        <div class="card-content">
                            <div class="card-text-box">
                                <h3 class="card-title">Modelos y Simulaciones</h3>
                                <p class="card-text">Diseños, modelos y simulaciones del proyecto.</p>
                            </div>
                            <a class="card-button" href="{% url 'modelosysimulaciones' %}">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-thumb"></div>
    </div>
</div>
{% endblock %}

