{% extends "basePage.html" %}
{% load static %}

{% block title %}
Funcionamiento
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/page/documentacion.css' %}">
{% endblock %}

{% block content %}
<div class="developers-section">
  <div class="content-wrapper">
    <div class="w-full bg-gradient-to-r from-[#b3e5fc] to-[#1e88e5] py-12 md:py-16 lg:py-20">
      <div class="container">
        <div class="titlepage">
          <h1 id="tituloDocumentacion">Modelos y Simulaciones</h1>
          <p id="p1">
            Diseños, modelos y Simulaciones del proyecto JABED.
          </p>
        </div>
        <div class="custom-cards-wrapper">
          <div class="custom-documentation-card">
            <div class="card-content">
              <div class="card-image">
                <img
                  src="https://i.ibb.co/bXW2PZD/329444411-66bca65e-eeb0-44f2-ab53-42f265d3af67-1.jpg"
                  alt="Diagrama de Clases"
                />
              </div>
              <div class="card-text-box">
                <h3 class="card-title">Diagrama de Clases</h3>
                <p class="card-text">
                  Diagrama de Clases para app del proyecto.
                </p>
              </div>
              <a class="card-button" href="https://i.ibb.co/bXW2PZD/329444411-66bca65e-eeb0-44f2-ab53-42f265d3af67-1.jpg">
                Ver más
              </a>
            </div>
          </div>
          <div class="custom-documentation-card">
            <div class="card-content">
              <div class="card-image">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Componentes.JPG/800px-Componentes.JPG"
                  alt="Componentes"
                />
              </div>
              <div class="card-text-box">
                <h3 class="card-title">Simulaciones</h3>
                <p class="card-text">
                  Algunas simulaciones que hemos realizado en el proyecto para el funcionamienrto del brazo robótico.
                </p>
              </div>
              <a class="card-button" href="#">
                Ver más
              </a>
            </div>
          </div>
          <div class="custom-documentation-card">
            <div class="card-content">
              <div class="card-image">
                <img
                  src="https://i.ibb.co/QF5cLxM/Imagen-de-Whats-App-2024-02-26-a-las-02-20-27-d4ad993d.jpg"
                  alt="Funcionamiento"
                />
              </div>
              <div class="card-text-box">
                <h3 class="card-title">Diseño</h3>
                <p class="card-text">
                  Diseño del Brazo Robotico
                </p>
              </div>
              <a class="card-button" href="#">
                Ver más
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-thumb"></div>
  </div>
</div>

{% endblock %}


